<%- include('partials/header.ejs') -%> 
<section>
    <div class="container">
        <h1>Contact Me</h1>
        <p>
            Lorem ipsum, dolor si Cumque libero ducimus natus id minima nam consectetur harum laborum blanditiis nostrum! Saepe praesentium inventore eaque, enim laborum placeat obcaecati aliquam earum error maiores alias impedit. Quisquam ipsum fugiat ipsam amet maxime aliquid laborum accusantium libero magni at et voluptatum, voluptatem sit modi iusto autem dolor ad? Qui, tempora, consectetur ad quo nemo unde nesciunt soluta similique ipsam quisquam magni nostrum nobis facere illum sunt beatae praesentium a! In, assumenda nisi? Natus, et maiores? Distinctio, ea aliquam itaque repellat nemo cum in soluta dolor at corporis numquam, fuga expedita ab quae? Tempora reiciendis ea nesciunt quia rem aliquam atque amet neque officiis qui eveniet dolore autem similique assumenda expedita, vero, temporibus voluptate consequatur? Distinctio blanditiis sint iste officiis dignissimos eveniet nobis voluptatem illum reprehenderit dolorem sapiente, quam alias rem ullam quo delectus accusantium beatae sunt. Aut illo sint rem laborum, voluptatibus labore voluptatum sit sed quia itaque expedita corporis natus? Voluptates odio numquam, tenetur eveniet in ducimus? Dolore repellat atque dignissimos ipsa veniam consequuntur dolor. Obcaecati ipsa sapiente omnis, deleniti sint quos? Aspernatur vero repellat fugit atque minima aliquid, architecto debitis reprehenderit dolorem minus placeat! Sequi magni id quisquam quasi minima ad!
        </p>
    </div>
</section>
<%- include('partials/footer.ejs') -%> 